/.github/                   export-ignore
/docker/                    export-ignore
/tests/                     export-ignore
/.dockerignore              export-ignore
/.php-cs-fixer.dist.php     export-ignore
/codecov.yml                export-ignore
/docker-compose.yml         export-ignore
/Makefile                   export-ignore
/phpunit.xml.dist           export-ignore
